---
layout: default
---

<div class="row">
        <div class="large-9 columns" role="content">
        {% for post in site.posts %}
          <article>

            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <h6>{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</h6>

          </article>

          <hr/>
          {% endfor %}

          <p>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

        </div>

        <aside class="large-3 columns">

          <h5>Categories</h5>
          <ul class="side-nav">
              {% for category in site.categories %}
            <li><a name="{{ category | first | capitalize }}">{{ category | first | capitalize }}</a></li>
            {% endfor %}
          </ul>

          <div class="panel">
            <h5>Featured</h5>
            <p>Some featured text?</p>
            <a href="#">Read More →</a>
          </div>

        </aside>


      </div>
