<footer class="row">
        <div class="small-10 columns">
          <hr/>
          <div class="row">
            <div class="small-2 columns">
              <p>© Lily Roberts</p>
            </div>
            <div class="small-10 columns">
              <ul class="inline-list right">
                  <li>{{ site.title }}</li>
                  <li>

                      <a href="mailto:{{ site.email }}">
                       <i class="fi-mail"></i> {{ site.email }}
                      </a>
                </li>
                <li>

                    <a href="https://github.com/{{ site.github_username }}">
                      <i class="fi-social-github"></i> {{ site.github_username }}
                  </a>
                </li>
                <li>
                    <a href="https://{{ site.tumblr_username }}.tumblr.com">
                      <i class="fi-social-tumblr"></i> {{ site.tumblr_username }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
